<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Waiter Availability</title>
  </head>
  <body>
    <div class="container">
        <form action="/waiter" method="post">
            <div class="login-box">
                <h1>Sign in</h1>
                {{#if messages.error}}
                <div class="error"><p class="mess">{{messages.error}}</p></div>
                {{/if}}
                <div class="usename-box">
                    <label for="usename" class="loginLabel">Name</label>
                    <input type="text" name="users" id="usename" class="login-username" value="" required>
                </div>
                <div class="password-box">
                    <label for="password" class="loginLabel">Password</label>
                    <input type="password" name="password" id="password" class="login-password" required>
                </div>
                <div class="buttons">
                  <button type="submit">Log in</button>
                  </form>
                  <a href="/signUp"><button type="button">Sign Up</button></a>
                </div>  
            </div> 
    </div>
  </body>
</html>